.invite {
  display: grid;
  grid-template-rows: min-content min-content;
}

.invite__description {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 26px 20px;
}

.invite__title {
  margin: 0;
  padding: 0;
  font-family: @title;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @titular--light;
  text-transform: uppercase;
}

.invite__address {
  padding: 0;
  font-family: @text;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @textual;
}

.invite__map {
  border: none;
}

.catalog-main__invite {
  background-color: @back-grey;
}

.form-main__invite {
  background-color: @back-grey;
}

/*планшетный вид*/
@media (min-width: 768px) and (max-width: 1439px) {
  .invite__description {
    padding: 60px 70px;
  }

  .invite__title {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .invite__address {
    max-width: 157px;
    font-size: 16px;
    line-height: 20px;
    justify-self: right;
    text-align: right;
  }

  .invite__map {
    width: 768px;
    height: 400px;
  }
}
