.page-header {
  padding: 0;
  min-height: 38px;
}

/*планшетный вид*/
@media (min-width: @tablet) {
  .page-header {
    position: relative;
    padding: 25px 30px;
    min-height: 50px;
  }
}

/*десктопный вид*/
@media (min-width: @desktop) {
  .page-header {
    padding: 0;
    min-height: 59px;
    z-index: 1;

    &--index {
      &::after {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        width: 50%;
        height: 694px;
        content: "";
        background-color: @elementary;
        opacity: 0.85;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        width: 50%;
        height: 694px;
        content: "";
        background-color: @elementary;
        background-image: image-set(url("../img/index-background-cat--1x.webp"), url("../img/index-background-cat--1x.jpg"));
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        @media (min-resolution: 2dppx) {
          background-image: image-set(url("../img/index-background-cat--2x.webp"), url("../img/index-background-cat--2x.jpg"));
        }
      }
    }
  }

  .page-header__container {
    width: 1440px;
  }
}
