.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation__img {
  display: block;
}

.navigation__list {
  position: absolute;
  top: 51px;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: @back;

  &--hidden {
    display: none;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  min-height: 65px;
  border-bottom: 1px solid @divider--light;
}

.navigation__link {
  padding: 22px 0 23px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: @title;
  color: @titular;
  text-decoration: none;
  text-transform: uppercase;
}

/*планшетный вид*/
@media (min-width: 768px) and (max-width: 1439px) {
  .navigation__img {
    width: 174px;
    height: 50px;
  }

  .navigation__list {
    position: relative;
    top: 0;
    left: 0;
    width: 436px;
    gap: 33px;

    &--hidden {
      display: flex;
      flex-direction: row;
    }
  }

  .navigation__item {
    min-height: none;
    border-bottom: none;
  }

  .navigation__link {
    padding: 14px 0 15px 0;
    font-size: 18px;
    line-height: 24px;
  }

  .navigation__button {
    display: none;
  }
}
