.page-header {
  padding: 13px 20px;
  min-height: 38px;
}

/*планшетный вид*/
@media (min-width: @tablet) {
  .page-header {
    padding: 25px 30px;
    min-height: 50px;
  }
}

/*десктопный вид*/
@media (min-width: @desktop) {
  .page-header {
    padding: 55px 110px 25px 110px;
    min-height: 59px;
  }
}
