.cat-date {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0 20px 24px 20px;
  border: none;
  border-bottom: 1px solid @divider;
}

.cat-date__label {
  display: flex;
  align-items: center;
}

.cat-date__parameter {
  margin-right: 13px;
  font-family: @title;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @textual;
}

.cat-date__input {
  flex-grow: 1;
  padding: 14px 15px 13px 15px;
  border: 1px solid @input-border;
  font-family: @title;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @textual;
}
