@around: #e5e5e5;

@titular: #000000;

@titular--light: #111111;

@titular--lighten: #222222;

@textual: #444444;

@back: #ffffff;

@elementary: #68b738;

@back-grey: #f2f2f2;

@back-grey--dark: #eaeaea;

@divider: #d9d9d9;

@divider--light: #e6e6e6;

@divider--dark: #cdcdcd;

