.invite {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
}

.invite__title {
  width: 140px;
  margin: 0;
  padding: 26px 0 26px 20px;
  font-family: "Oswald_Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.invite__address {
  width: 140px;
  padding: 26px 20px 26px 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
