.programm__button-wrapper {
  padding: 0 20px;
}

.programm__button {
  width: 100%;
  color: @back;
  background-color: @elementary;
}

.programm__note {
  margin: 0;
  padding: 21px 20px 32px 20px;
  text-align: center;
  font-family: @text;
  font-size: 14px;
  line-height: 16px;
  color: @titular;
}
