.programms__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.programms__item {
  padding: 0 20px;
  background-color: @basic-grey;
}

.programms__title {
  margin: 0;
  padding: 30px 32px 39px 70px;
  font-family: @oswald-regular;
  font-size: 24px;
  line-height: 37px;
  color: @black;
  text-transform: uppercase;
}

.programms__description {
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid @line-divider;
  box-sizing: border-box;
  font-family: @lato;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.programms__link {
  display: block;
  padding: 19px 0 22px 0;
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
}
