.case {
  margin: 0;
  padding: 25px 20px 40px 20px;
  background-color: @back-grey--dark;
}

.case__title {
  margin: 0 0 40px 0;
  font-family: @title;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @titular;
}

.case__description {
  margin: 0 0 20px 0;
  font-family: @text;
  font-size: 14px;
  line-height: 18px;
  color: @textual;
}

.case__dates {
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  row-gap: 16px;
  margin: 0;
}

.case__term {
  font-family: @text;
  font-size: 12px;
  line-height: 12px;
  color: @textual;
}

.case__definition {
  margin: 0;
  font-family: @title;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @titular;
}

.case__costs {
  margin: 0;
  padding: 20px 46px;
  font-family: @title;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @titular;
}

.case__slider {
  min-height: 256px;
}

/*планшетный вид*/
@media (min-width: 768px) and (max-width: 1439px) {

}
