.how-it-work__title {
  margin: 0;
  padding: 20px 20px 40px 20px;
  font-family: @title;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @titular;
}

.how-it-work__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0 20px 47px 20px;
  list-style-type: none;
}

.how-it-work__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0 0 0 80px;
  gap: 20px;
}

.how-it-work__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.how-it-work__text {
  margin: 0;
  font-family: @text;
  font-size: 14px;
  line-height: 18px;
  color: @textual;
  z-index: 1;
}

.how-it-work__text-clock {
  display: none;
}

/*планшетный вид*/
@media (min-width: @tablet) {
  .how-it-work__title {
    padding: 45px 30px 32px 30px;
    font-size: 60px;
    line-height: 60px;
  }

  .how-it-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 92px;
    column-gap: 135px;
    padding: 0 105px 104px 30px;
    counter-reset: item;
    border-bottom: 1px solid @divider--light;
  }

  .how-it-work__item {
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    padding-left: 0;
    padding-top: 151px;

    &::after {
      counter-increment: item;
      content: counter(item) "";
      position: absolute;
      top: 0;
      left: 113px;
      font-family: @title;
      font-size: 280px;
      line-height: 280px;
      color: @back-grey;
    }
  }

  .how-it-work__icon {
    top: 40px;
    width: 80px;
    height: 80px;
  }

  .how-it-work__text {
    font-size: 16px;
    line-height: 24px;
  }
}

/*десктопный вид*/
@media (min-width: @desktop) {
  .how-it-work {
    margin: 0 0 57px 0;
  }

  .how-it-work__container {
    width: 1220px;
  }

  .how-it-work__title {
    padding: 71px 0 32px 0;
  }

  .how-it-work__text-clock {
    display: inline;
  }

  .how-it-work__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    column-gap: 80px;
    padding: 0 0 70px 0;
    border-bottom: none;
  }
}
