.how-it-work__title {
  margin: 0;
  padding: 20px 20px 40px 20px;
  font-family: @title;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @titular;
}

.how-it-work__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0 20px 40px 20px;
  list-style-type: none;
}

.how-it-work__item {
  padding-left: 80px;
}

.how-it-work__text {
  margin: 0;
  font-family: @text;
  font-size: 14px;
  line-height: 18px;
  color: @textual;
}

/*планшетный вид*/
@media (min-width: 768px) and (max-width: 1439px) {
  .how-it-work__title {
    padding: 45px 30px 32px 30px;
  }

  .how-it-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 37px;
    column-gap: 60px;
    padding: 0 105px 47px 30px;
  }

  .how-it-work__item {
    padding-left: 0;
    padding-top: 151px;
  }
}
