.our-programms__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.our-programms__item {
  padding: 0 20px;
  background-color: @back-grey;
}

.our-programms__title {
  margin: 0;
  padding: 30px 32px 39px 70px;
  font-family: @title;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @titular;
  text-transform: uppercase;
}

.our-programms__description {
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid @divider;
  box-sizing: border-box;
  font-family: @text;
  font-size: 14px;
  line-height: 18px;
  color: @textual;
}

.our-programms__link {
  display: block;
  padding: 19px 0 22px 0;
  font-family: @title;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @titular;
  text-transform: uppercase;
  text-decoration: none;
}

/*планшетный вид*/
@media (min-width: @tablet) {
  .our-programms__list {
    gap: 30px;
    padding: 0 30px;
  }

  .our-programms__item {
    padding: 77px 316px 53px 52px;
  }

  .our-programms__title {
    padding: 0 0 24px 1px;
    font-size: 36px;
    line-height: 36px;
  }

  .our-programms__description {
    padding: 0 0 48px 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .our-programms__link {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

/*десктопный вид*/
@media (min-width: @desktop) {
  .our-programms__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 82px 110px 0 110px;
  }

  .our-programms__item {
    padding: 77px 61px 55px 52px;
  }

  .our-programms__title {
    padding: 0 0 73px 214px;
  }

  .our-programms__description {
    padding: 0 0 23px 0;
  }
}
